In [52]:
import os
import pandas as pd
import alpaca_trade_api as tradeapi
from pathlib import Path
# Load .env 
from dotenv import load_dotenv
load_dotenv()

%matplotlib inline

In [104]:
SPXETFSectors_csv = Path("SPXETFSectors.csv")
SPXETFSectors_dataframe = pd.read_csv(SPXETFSectors_csv)
SPXETFSectors_dataframe.head(504)

,\nCompany,\nTicker,% of\nPortfolio,Russell\nSector,Zacks\nG Sector
0,ACTIVISION BLZD,ATVI,0.2%,TECHNOLOGY,COMMUNICATION SVCS
1,ALPHABET INC-A,GOOGL,1.6%,TECHNOLOGY,COMMUNICATION SVCS
2,ALPHABET INC-C,GOOG,1.6%,TECHNOLOGY,COMMUNICATION SVCS
3,AT&T INC,T,0.7%,UTILITIES,COMMUNICATION SVCS
4,CENTURYLINK INC,CTL,0.0%,UTILITIES,COMMUNICATION SVCS
...,...,...,...,...,...
499,PUBLIC SV ENTRP,PEG,0.1%,UTILITIES,UTILITIES
500,SEMPRA ENERGY,SRE,0.1%,UTILITIES,UTILITIES
501,SOUTHERN CO,SO,0.2%,UTILITIES,UTILITIES
502,WEC ENERGY GRP,WEC,0.1%,UTILITIES,UTILITIES
503,XCEL ENERGY INC,XEL,0.1%,UTILITIES,UTILITIES

In [105]:
SPXETFSectors_dataframe = SPXETFSectors_dataframe.drop(columns=["Zacks\nG Sector", "\nCompany", "% of\nPortfolio"])
SPXETFSectors_dataframe.head()

  \nTicker Russell\nSector
0     ATVI      TECHNOLOGY
1    GOOGL      TECHNOLOGY
2     GOOG      TECHNOLOGY
3        T       UTILITIES
4      CTL       UTILITIES

In [106]:
SPXETFSectors_dataframe = SPXETFSectors_dataframe.rename(columns={
    "\nTicker": "ticker",
    "Russell\nSector": "sector"
})

SPXETFSectors_dataframe.head()

  ticker      sector
0   ATVI  TECHNOLOGY
1  GOOGL  TECHNOLOGY
2   GOOG  TECHNOLOGY
3      T   UTILITIES
4    CTL   UTILITIES

In [108]:
# Set Alpaca API key and secret
alpaca_api_key = os.getenv("ALPACA_API_KEY")
alpaca_secret_key = os.getenv("ALPACA_SECRET_KEY")

In [113]:
# Set to Ticker and Russell_Sector
ticker = SPXETFSectors_dataframe["ticker"].to_list()
ticker_1 = ticker[0:99]
ticker_2 = ticker[99:198]
ticker_3 = ticker[198:297]
ticker_4 = ticker[297:396]
ticker_5 = ticker[396:495]
ticker_6 = ticker[495:]

# Set timeframe to '1D'
timeframe = "1D"

# Set start from the beginning of the year until Sept 10
start_date = pd.Timestamp("2020-01-01", tz="America/New_York").isoformat()
end_date = pd.Timestamp("2020-09-10", tz="America/New_York").isoformat()

# Get 9 months
df_ticker_1 = alpaca.get_barset(
    ticker_1,
    timeframe,
    start=start_date,
    end=end_date
).df

df_ticker_2 = alpaca.get_barset(
    ticker_2,
    timeframe,
    start=start_date,
    end=end_date
).df

df_ticker_3 = alpaca.get_barset(
    ticker_3,
    timeframe,
    start=start_date,
    end=end_date
).df

df_ticker_4 = alpaca.get_barset(
    ticker_4,
    timeframe,
    start=start_date,
    end=end_date
).df

df_ticker_5 = alpaca.get_barset(
    ticker_5,
    timeframe,
    start=start_date,
    end=end_date
).df

df_ticker_6 = alpaca.get_barset(
    ticker_6,
    timeframe,
    start=start_date,
    end=end_date
).df


# Display sample data
df_ticker_.head()

                             AFL                                    AIG  \
                            open    high     low  close   volume   open
2020-01-02 00:00:00-05:00  53.04  53.370  52.820  53.37  1786652  51.64
2020-01-03 00:00:00-05:00  52.82  53.220  52.770  52.96  1690710  51.23
2020-01-06 00:00:00-05:00  52.65  52.920  52.615  52.82  1826126  51.13
2020-01-07 00:00:00-05:00  52.75  52.855  52.250  52.32  3341901  51.35
2020-01-08 00:00:00-05:00  52.44  52.950  52.375  52.51  2202607  51.11

                                                          ...    WRB         \
                            high    low   close   volume  ...   open   high
2020-01-02 00:00:00-05:00  51.87  51.24  51.780  2246523  ...  69.49  69.49
2020-01-03 00:00:00-05:00  51.47  50.94  51.340  1919779  ...  68.35  69.18
2020-01-06 00:00:00-05:00  51.64  51.04  51.400  1958298  ...  68.64  69.00
2020-01-07 00:00:00-05:00  51.43  50.72  51.100  2649797  ...  68.82  68.90
2020-01-08 00:00:00-05:00  52.25  51.11  51.695  3364363  ...  67.80  68.59

                                                       XOM                   \
                               low  close    volume   open    high      low
2020-01-02 00:00:00-05:00  68.4100  68.97  343525.0  70.24  71.020  70.2368
2020-01-03 00:00:00-05:00  68.1600  69.06  335374.0  71.34  71.370  70.1600
2020-01-06 00:00:00-05:00  68.4201  68.98  333375.0  70.32  71.355  70.2300
2020-01-07 00:00:00-05:00  67.6500  67.68  463946.0  70.50  70.520  69.5100
2020-01-08 00:00:00-05:00  67.7400  68.18  382021.0  70.11  70.140  69.1700


                            close    volume
2020-01-02 00:00:00-05:00  70.900  10586614
2020-01-03 00:00:00-05:00  70.320  14148606
2020-01-06 00:00:00-05:00  70.870  16859539
2020-01-07 00:00:00-05:00  70.280  11647527
2020-01-08 00:00:00-05:00  69.235  11957848

[5 rows x 495 columns]